@import url("https://font.googleleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}
:root {
  --primary-color: #8a79f0;
  --primary-color-dark: #2e2a40;
  --text-dark: #221e36;
  --text-light: #767268;
  --extra-light: #f1f2ff;
  --white: #ffffff;
  --max-width: 1200px;
}

body{
    min-height: 100vh;
    /* background: url('wp5716421-srt-dodge-wallpapers.jpg') no-repeat; */
    background-color: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:black;
    backdrop-filter: blur(50px);
    z-index: -1;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg,transparent,rgba(9, 154, 33, 0.781),transparent);
    transition: 0.5s ;
}
header:hover::after {
    left: 100%;
}
 .logoimg{
    height: 60px;
    width: 60px;
    border-radius: 15px;
    
}
 .logodiv{
    color: #fff;
}
.logodiv h1{
    height: 10px;
}


.navbar a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;

}

#check{
    display: none;
}
.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

      /* BRAKEPOINTS */

 @media(max-width:992px){
    .header{
        padding: 1.3rem 5%;
    }
 } 
 
 @media(max-width:768px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu.icon{
        display: none;
    }

    .icons #close-icon{
        display: none;

    }
    #check:checked~.icons #close.icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background:rgba(0,0,0,0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
        overflow: hidden;
        transition: 0.3s ease;
        
    }
    #check:checked~.navbar{
        height: 17.7rem;
        
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.3s ease;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        
        
    }
 }


/* 
 !!!!!!!!!!!!!!!!!!!! main is here !!!!!!!!!!!!!!!!!! */

   *{
    margin: 0;
    padding: 0;
}
.section1-container {
    padding: 50px 120px;
    box-sizing: border-box;
}
h2{
    margin-left: 400px;
    margin-bottom: 50px;
    font-size: 50px;

}
.flex-container{
    display: flex;
    gap:50px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;

}
.text-container1{
    position: absolute;
    margin-left: 60px;
    top: 1010px;
    font-size: 40px;
    color: rgb(64, 69, 69);
    text-shadow: 2px 2px 5px;

}
.text-container2{
    position: absolute;
    margin-left: 60px;
    top: 1470px;
    font-size: 40px;
    color: rgb(64, 69, 69);
    text-shadow: 2px 2px 5px;

}

.flex-box img{
    height: 400px;
    width: 700px;
    border-radius: 20px;
    /* margin-bottom: 50px; */
    box-shadow:10px 10px 10px rgb(84, 81, 81);
    
}

.section2-container{
    height: 300vh;
    width: 100vw;
    padding: 90px;
}

.row{
    display: flex;
    gap: 50px;
}

.car-container{
    height: 480px;
    width: 27.5vw;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(95, 91, 91);
    margin-bottom: 40px;
}

.image-container{
    height: 290px;
    width: 25vw;
}

.image-container img{
    height: 290px;
    width: 25vw;
}

.details-container{
    display: flex;
    /* border: 1px solid black; */
    box-sizing: border-box;
    height: 150px;
}

.details-container img{
    height: 25px;
    width: 25px;
}

.left-container{
    height: 150px;
    width: 50%;
    /* border: 1px solid black; */
    line-height: 30px;
    padding: 15px;
    box-sizing: border-box;
}

.right-container{
    box-sizing: border-box;
    line-height: 30px;
    padding: 15px;
    height: 150px;
    width: 50%;
    /* border: 1px solid black; */
}

.delivery-available-container{
    display: flex;
    gap: 7px;
}

.km-away-container{
    display: flex;
    gap: 7px;
}

.stars-container{
    background-color: green;
    border-radius: 5px;
    display: flex;
    gap: 7px;
    width: 120px;
    justify-content: center;
    color: white;
}

/* 
paragraph section */
.subscribe__container {
  position: relative;
  isolation: isolate;
  display: grid;
  overflow: hidden;
  background-color: var(--extra-light);
}

.subscribe__container::before,
.subscribe__container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3rem;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: -1;
}

.subscribe__container::after {
  top: unset;
  bottom: 0;
}

.subscribe__content {
  padding-block: 2rem 8rem;
  padding-inline: 1rem;
}

.subscribe__content form {
  margin-top: 2rem;
  margin-inline: auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
}

.subscribe__content input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--text-dark);
  padding-inline: 1rem;
  background-color: transparent;
}

.subscribe__content .btn {
  padding-block: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.client__container {
  padding-bottom: 1rem;
}

.client_container .section_description {
  max-width: 600px;
  margin-inline: auto;
}

.swiper {
  padding-block: 4rem;
  width: 100%;
}

.swiper-slide {
  min-width: 375px;
}

.client__card {
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.client__card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.client__details {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.client__details img {
  max-width: 50px;
  border-radius: 100%;
}

.client__details h4 {
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.client__rating {
  color: goldenrod;
}

.client__card p {
  color: var(--text-light);
  line-height: 1.5rem;
}

form{
    border: 2px 2px 2px black;
    border-color: #8a79f0;

}





       /* footer styleing */

 footer{
  background:url('final\ footer.avif');
  background-size: cover;
  color:#fff;
  font-size: 19px;
  padding: 60px 0px 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.footer-row{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

footer h3{
  color:#fff;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1{
  margin-left: 80px;
  margin-top: 50px;
  text-align: center;
}

.footer-col-2{
    margin-top: 90px;
  text-align: center;
}


.footer-col-2 img{
  margin-left: 40px;
  width: 180px;
  height: 50px;
  margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
  flex-basis: 20%;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  color:#fff;
}

ul{
  list-style-type: none;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

footer hr{
  border: none;
  background: #555;
  height: 3px;
  margin: 20px 0px;
}

.copyright{
  padding-left: 80px;
}
.foot{
    padding-left: 1400px;
    margin-bottom: 5px;
}

