*{
  padding: 0px;
  margin: 0px;
  font-family: Poppins,sans-serif;
}

header .navbar{
  display: flex;
  justify-content: space-evenly;
  padding: 15px 30px;
}

header .navbar nav ul{
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
  line-height: 50px;
}

header .navbar nav ul li{
  list-style-type: none;
}

header .navbar nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: 540;
}

.logo-container{
  height: 50px;
  width: 850px;
}

#logo{
  height: 50px;
  padding: 0px 40px;
  border: 1px solid #ddd5f3;
  box-shadow: 3px 3px #ddd5f3;
}

.cart-container{
  height: 44px;
}

#cart{
  height: 36px;
}

#menu-icon{
  display: none;
}

/* ------------ watch heading ------------ */

.apple-container{
  height: 650px;
  width: 1300;
  background: linear-gradient(90deg,#ddd5f3 40%,#f8f9fa 60%);
  display: grid;
  grid-template-columns: auto auto;
}

.watch-title{
  height: 250px;
  width: 290px;
  padding: 200px 140px;
  line-height: 60px;
}

.watch-title h1{
  font-size: 44px;
}

.watch-title p{
   text-decoration: underline;
   font-weight: 500;
}

.watch-image{
  height: 480px;
  width: 720px;
  padding: 110px 100px;
}

/* ------------ featured products ------------ */

.featured-products{
  align-self: center;
  justify-self: center;
}

.featured-products h2{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

.row{
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}

.row img{
  flex-basis: 23%;
  height: 400px;
  width: 350px;
}

.fa-solid, .fa-star, .fa-regular{
  color: #ddd5f3;
}

.row p{
  font-weight: 500;
  font-size: 14px;
}

/* ------------ footer ------------ */

footer{
  background: #ddd5f3;
  color: #000000;
  font-size: 14px;
  padding: 60px 0px 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.footer-row{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

footer h3{
  color: #000000;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1{
  margin-left: 80px;
  text-align: center;
}

.footer-col-2{
  text-align: center;
}


.footer-col-2 img{
  margin-left: 40px;
  width: 180px;
  height: 50px;
  margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
  flex-basis: 20%;
  text-align: center;
}

ul{
  list-style-type: none;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

footer hr{
  border: none;
  background: #555;
  height: 1px;
  margin: 20px 0px;
}

.copyright{
  text-align: center;
}

/* ------------- sign-up page ------------ */

.sign-up-container{
  width: 100%;
  height: 600px;
  background-image: url(Images/new.jpg);
  background-size: cover;
  margin-bottom: -30px;
}
.sign-up-form{
  position: relative;
  top: 100px;
  left: 800px;
  height: 300px;
  width: 23%;
  padding: 50px;
  border: 5px solid white;
  border-radius: 25px;
  box-shadow: 5px 15px rgb(198, 141, 236);
}
.sign-up-form h3{
  margin: 10px;
  text-align: center;
  text-decoration: underline;
}
.sign-up-form i{
  position: relative;
}

.first-icon{
  top: 28px;
  left: 300px;
}

.second-icon{
  top: 86px;
  left: 280px;
}

.third-icon{
  top: 146px;
  left: 260px;
}


input{
  border-radius: 15px;
  padding: 7px 30px;
  width: 280px;
  justify-self: center;
  outline: none;
  border: none;
}

/* ---------- media queery for less 600px size ---------- */

@media only screen and (max-width: 450px){

  header .navbar{
    display: flex;
    padding: 15px 5px;
    width: 100%;
  }
  .logo-container{
    width: 150px;
    height: 40px;
  }
  #logo{
    height: 40px;
    padding: 0px 15px;
  }
  header .navbar .cart-container{
    display: flex;
    gap: 20px;
    width: 85px;
  }
  header .navbar .cart-container #menu-icon{
    display: inline-block;
    height: 30px;
    padding-top: 5px;
  }
  header .navbar nav ul{
    display: none;
  }
  .row{
    grid-template-columns: auto;
  }
  .apple-container{
    grid-template-columns: auto;
    height: 560px;
  }
  .watch-title{
    padding: 30px 60px;
    width: 240px;
  }
  .watch-title h1{
    font-size: 36px;
  }
  .watch-image{
    width: 240px;
    height: 300px;
    padding: 30px 30px;
  }
  .watch-image img{
    width: 300px;
  }
  .item-div{
       width: 280px;
  }

  .item-div img{
    width: 280px;
    height: 320px;
  }
  .featured-products{
    align-self: center;
    justify-self: center;
    height: 50px;
    width: 160px;
  }
  .featured-products h2{
    height: 50px;
    width: 250px;
    font-size: 16px;
  }
  .footer-col-1{
    width: 200px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
  }
  .footer-row{
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
  }
  .footer-col-2 img{
    margin-left: 0px;
  }
  .footer-col-2{
    text-align: center;
  }


}