*{
  padding: 0px;
  margin: 0px;
  font-family: Poppins,sans-serif;
}

header .navbar{
  display: flex;
  justify-content: space-evenly;
  padding: 15px 30px;
}

header .navbar nav ul{
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
  line-height: 50px;
}

header .navbar nav ul li{
  list-style-type: none;
}

header .navbar nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: 540;
}

.logo-container{
  height: 50px;
  width: 850px;
}

#logo{
  height: 50px;
  padding: 0px 40px;
  border: 1px solid #ddd5f3;
  box-shadow: 3px 3px #ddd5f3;
}

.cart-container{
  height: 44px;
}

#cart{
  height: 36px;
}

#menu-icon{
  display: none;
}

/* ------------ watch heading ------------ */

.apple-container{
  height: 650px;
  width: 1300;
  background: linear-gradient(90deg,#c0aef3 40%,#f8f9fa 60%);
  display: grid;
  grid-template-columns: auto auto;
}

.watch-title{
  height: 250px;
  width: 290px;
  padding: 200px 140px;
  line-height: 60px;
}

.watch-title h1{
  font-size: 44px;
}

.watch-title p{
   text-decoration: underline;
   font-weight: 500;
}

.watch-image{
  height: 480px;
  width: 720px;
  padding: 110px 100px;
}

/* ------------ featured products ------------ */

.featured-products{
  align-self: center;
  justify-self: center;
}

.featured-products h2{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

.row{
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}

.row img{
  flex-basis: 23%;
  height: 400px;
  width: 350px;
}

.fa-solid, .fa-star, .fa-regular{
  color: #ddd5f3;
}

.row p{
  font-weight: 500;
  font-size: 14px;
}

/* ------------ footer ------------ */

footer{
  background: #ddd5f3;
  color: #000000;
  font-size: 14px;
  padding: 60px 0px 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.footer-row{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

footer h3{
  color: #000000;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1{
  margin-left: 80px;
  text-align: center;
}

.footer-col-2{
  text-align: center;
}


.footer-col-2 img{
  margin-left: 40px;
  width: 180px;
  height: 50px;
  margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
  flex-basis: 20%;
  text-align: center;
}

ul{
  list-style-type: none;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

footer hr{
  border: none;
  background: #555;
  height: 1px;
  margin: 20px 0px;
}

.copyright{
  text-align: center;
}

/* ------------- sign-up page ------------ */

.sign-up-container{
  width: 100%;
  height: 600px;
  background-image: url(Images/final.jpg);
  background-size: cover;
  margin-bottom: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.common-container{
  height: 400px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #f8f9fa;
  border-radius: 15px;
}
.sign-up{
  height: 300px;
  width: 300px;
  padding: 50px;
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  min-width: 278px;
}
.title{
  font-size: 25px;
  color: #000000;
  margin-bottom: 10px;
  text-decoration: underline;
}
.input-items{
  width: 100%;
  height: 35px;
  background: #f8f9fa;
  margin: 10px 0px;
  border: 2px solid #c0aef3;
  border-radius: 50px;
  display: flex;
  align-items: center;

}
.input-items i{
  height: 20px;
  width: 20px;
  flex: 1;
  text-align: center;
}
.input-items input{
  flex: 4;
  background: none;
  border: none;
  outline: none;
}
#btn{
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 50px;
  background: #8067c6;
  color: #f8f9fa;
  margin-top: 10px;
}
form a{
  margin-top: 10px;
  text-decoration: none;
  font-size: 12px;
}
.img-container{
  height: 400;
  width: 370px;
  position: relative;
}

/* ------------ cart-items ------------ */


.use-container{
  max-width: 1050px;
  height: 570px;
  align-self: center;
  justify-self: center;
  font-size: medium;
} 
.cart-info{
  height: 150px;
  width: 500px;
  display: flex;
  font-size: 12px;
  text-align: left;
  gap: 15px;
  margin: 5px 0px;
}
.cart-info img{
  width: 150px;
}
th{
  background: #8067c6;
  padding: 5px;
  font-weight: normal;
}
td{
  min-width: 300px;
  text-align: center;
}
.buy-container{
  padding: 10px;
  justify-self: end;
}
.cart-button{
  padding: 10px 80px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 200px;
  background-color: #8067c6;
  color: #f8f9fa;
  border: 1px solid black;
}
.cart-button:hover{
  scale: 1.02;
}
th{
  color: #f8f9fa;
}

/* ---------- media queery for less 600px size ---------- */

@media only screen and (max-width: 450px){

  header .navbar{
    display: flex;
    padding: 15px 5px;
    width: 100%;
  }
  .logo-container{
    width: 150px;
    height: 40px;
  }
  #logo{
    height: 40px;
    padding: 0px 15px;
  }
  header .navbar .cart-container{
    display: flex;
    gap: 20px;
    width: 85px;
  }
  header .navbar .cart-container #menu-icon{
    display: inline-block;
    height: 30px;
    padding-top: 5px;
  }
  header .navbar nav ul{
    display: none;
  }
  .row{
    grid-template-columns: auto;
  }
  .apple-container{
    grid-template-columns: auto;
    height: 560px;
  }
  .watch-title{
    padding: 30px 60px;
    width: 240px;
  }
  .watch-title h1{
    font-size: 36px;
  }
  .watch-image{
    width: 240px;
    height: 300px;
    padding: 30px 30px;
  }
  .watch-image img{
    width: 300px;
  }
  .item-div{
       width: 280px;
  }

  .item-div img{
    width: 280px;
    height: 320px;
  }
  .featured-products{
    align-self: center;
    justify-self: center;
    height: 50px;
    width: 160px;
  }
  .featured-products h2{
    height: 50px;
    width: 250px;
    font-size: 16px;
  }
  .footer-col-1{
    width: 200px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
  }
  .footer-row{
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
  }
  .footer-col-2 img{
    margin-left: 0px;
  }
  .footer-col-2{
    text-align: center;
  }

/* ---- cart page ----- */

  .use-container{
    width: 350px;
    height: 600px;
  }
  table{
    height: 400px;
    width: 360px;
  }
  .buy-container{
    scale: 0.6;
    position: absolute;
  }
  .cart-info{
    width: 100px;
    flex-direction: column;
  }
  .cart-info img{
    width: 50px;
    height: 50px;
  }
  td{
    min-width: 100px;
  }
  td input{
    width: 50px;
  }
  

  /* ----- sign up ----- */
  .sign-up-container{
    height: 800px;
  }
  .common-container{
    display: flex;
    flex-direction: column;
    height: 1440px;
    position: absolute;
    top: -235px;
  }
}

/* ----- media-query for for max 800px width ----- */

@media only screen and (max-width: 800px) and (min-width:451px){

  header .navbar{
    display: flex;
    padding: 15px 5px;
    width: 100%;
  }
  .logo-container{
    width: 150px;
    height: 40px;
  }
  #logo{
    height: 40px;
    padding: 0px 15px;
  }
  header .navbar .cart-container{
    display: flex;
    gap: 20px;
    width: 85px;
  }
  header .navbar .cart-container #menu-icon{
    display: inline-block;
    height: 30px;
    padding-top: 5px;
  }
  header .navbar nav ul{
    display: none;
  }
  .row{
    grid-template-columns: auto auto;
  }
  .apple-container{
    grid-template-columns: auto auto;
    height: 300px;
  }
  .watch-title{
    padding: 30px 60px;
    width: 240px;
  }
  .watch-title h1{
    font-size: 36px;
  }
  .watch-image{
    width: 240px;
    height: 300px;
    padding: 30px 30px;
  }
  .watch-image img{
    width: 300px;
  }
  .item-div{
       width: 280px;
  }

  .item-div img{
    width: 280px;
    height: 320px;
  }
  .featured-products{
    align-self: center;
    justify-self: center;
    height: 50px;
    width: 160px;
  }
  .featured-products h2{
    height: 50px;
    width: 250px;
    font-size: 16px;
  }
  .footer-col-1{
    width: 200px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
  }
  .footer-row{
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
  }
  .footer-col-2 img{
    margin-left: 0px;
  }
  .footer-col-2{
    text-align: center;
  }
  .use-container{
    width: 450px;
    height: 600px;
  }
  table{
    height: 400px;
    width: 360px;
  }
  .buy-container{
    scale: 0.6;
    position: absolute;
  }
  .cart-info{
    width: 100px;
    flex-direction: column;
  }
  .cart-info img{
    width: 50px;
    height: 50px;
  }
  td{
    min-width: 150px;
  }
  td input{
    width: 50px;
  }
  /* ----- sign up ----- */
  .sign-up-container{
    height: 800px;
  }
  .common-container{
    display: flex;
    flex-direction: column;
    height: 1440px;
    position: absolute;
    top: -235px;
  }

}


