*{
  padding: 0px;
  margin: 0px;
  font-family: Poppins,sans-serif;
}

header .header-container nav ul{
  display: flex;
  justify-content: space-evenly;
  line-height: 50px;
}

header .header-container nav ul li{
  list-style-type: none;
}

header .header-container nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: 540;
}

.logo-container{
  height: 50px;
  width: 850px;
}

#logo{
  height: 50px;
  border: 1px solid #ddd5f3;
  box-shadow: 3px 3px #ddd5f3;
}

#cart{
  height: 35px;
  padding: 12px;
}

/* ------------ watch heading ------------ */

.apple-container{
  height: 650px;
  width: 1300;
  background: linear-gradient(90deg,#ddd5f3 40%,#f8f9fa 60%);
  display: flex;
}

.watch-title{
  height: 250px;
  width: 290px;
  padding: 200px 140px;
  line-height: 60px;
}

.watch-title h1{
  font-size: 44px;
}

.watch-title p{
   text-decoration: underline;
   font-weight: 500;
}

.watch-image{
  height: 480px;
  width: 720px;
  padding: 110px 100px;
}

/* ------------ featured products ------------ */

.featured-products h2{
  margin-top: 20px;
  margin-left: 650px;
  font-size: 20px;
  font-weight: 500;
}

.row{
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}

.row img{
  flex-basis: 23%;
  height: 350px;
}

.fa-solid, .fa-star, .fa-regular{
  color: #ddd5f3;
}

.row p{
  font-weight: 500;
  font-size: 14px;
}

/* ------------ footer ------------ */

footer{
  background: #ddd5f3;
  color: #000000;
  font-size: 14px;
  padding: 60px 0px 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.footer-row{
  display: flex;
}

footer h3{
  color: #000000;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1{
  flex-basis: 20%;
  margin-left: 80px;
}

.footer-col-2{
  flex: 1;
  flex-basis: 25%;
  text-align: center;
}

.footer-col-2 img{
  margin-left: 40px;
  width: 180px;
  height: 50px;
  margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
  flex-basis: 20%;
  text-align: center;
}

ul{
  list-style-type: none;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

footer hr{
  border: none;
  background: #555;
  height: 1px;
  margin: 20px 0px;
}

.copyright{
  text-align: center;
}

/* ---------- media queery for less 600px size ---------- */

@media only screen and (max-width: 450px){

  body{
    justify-content: center;
  }
  .row{
    display: grid;
    grid-template-columns: auto;
  }
  .apple-container{
    display: grid;
    grid-template-columns: auto;
  }
}