*{
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
  align-items: center;
  height: 9vh;
  width: 92%;
  border: 1px solid black;
  padding: 0px 30px;
  box-sizing: border-box;
  border-radius: 7px;
  margin-top: -25px;
  z-index: 2;
  background-color: white;
}

.navbar ul{
  display: flex;
  width: 40vw;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li{
  list-style-type: none;
}

.navbar ul li a{
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.navbar ul li a:hover{
  color: black;

}

.color{
  height: 50px;
  width: 100%;
  background-color: rgb(2, 71, 111);
}

.logo{
  height: 45px;
  width: 250px;
  box-shadow: 2px 2px 2px 2px rgb(2, 71, 111);
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo img{
  height: 40px;
  background-size: contain;
}

#none{
  display: none;
}

.fa-cart-shopping, .fa-bars{
  font-size: 20px;
}

/* -------------- Search Section -------------- */

.next-stay-container{
  height: 23vh;
  width: 100vw;
  background-color: rgb(2, 71, 111);
  padding: 68px 120px;
  margin-bottom: 20px;
  margin-top: -40px;
  box-sizing: border-box;
}

.next-stay-container h2, p{
  color: white;
  margin-bottom: 7px;
  
}

.stay-input-container{
  height: 8vh;
  width: 82vw;
  background-color: white;
  border: 2px solid orange;
  border-radius: 5px;
  justify-self: center;
  display: flex;
  font-size: 13px;
}

.where-going-container{
  height: 8vh;
  width: 23vw;
  border: 2px solid orange;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 7px;
}

.location-image{
  height: 25px;
  width: 25px;
  color: rgb(2, 71, 111);
}

#location-select{
  width: 103px;
}

.checkIn-checkOut-container{
  height: 8vh;
  width: 30vw;
  border: 2px solid orange;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.checkIn-checkOut-container input{
  width: 110px;
}

#calender-image{
  height: 25px;
  width: 25px;
}

.adult-room-container{
  height: 8vh;
  width: 22vw;
  border: 2px solid orange;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 15px;
}

.adult-room-container input{
  width: 33px;
  text-align: center;
  margin-right: 10px;
}

.final-search-container{
  height: 8vh;
  width: 7vw;
  border: 2px solid orange;
  background-color: rgb(2, 71, 111);
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

/* ------------ Product Detail Section ------------- */

.product-detail-container{
  padding: 30px 30px 0px 30px;
  width: 79vw;
  height: 100vw;
  margin-top: 50px;
  /* border: 1px solid black; */
  box-sizing: border-box;
}

.bold{
  font-weight: bold;
  font-size: 13px;
}

#detail-heading{
  flex-basis: 100%;
}

#location-image{
  height: 20px;
  width: 20px;
}

.big-image-container{
  min-height: 68vh;
  min-width: 79vw;
  display: flex;
  gap: 40px;
  /* border: 1px solid black; */
}

.big-image-container img{
  height: 68vh;
  width: 53vw;
}

.hotel-details-container{
  height: 51vh;
  width:19vw;
  /* border: 1px solid black; */
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.review-container{
  height: 8vh;
  width: 100%;
  border: 1px solid black;
  border-bottom: 0px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 5px 20px;
  box-sizing: border-box;
}

.review-stars{
  height: 35px;
  width: 35px;
  border-radius: 5px 5px 5px 0px;
  color: white;
  background-color: rgb(2, 71, 111);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-text-container{
  display: flex;
  flex-direction: column;
}

.customer-review-container{
  height: 38vh;
  width: 100%;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-bottom: 0px solid black;
  box-sizing: border-box;
}

.small-image-container{
  height: 15vh;
  width: 53vw;
  /* border: 1px solid black; */
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.small-image-container img{
  height: 15vh;
  width: 10.3vw;
}

.customer-detail-container{
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.customer-name-logo{
  height: 25px;
  width: 25px;
  background-color: green;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#india-image{
  height: 20px;
  width: 20px;
}

.customer-place{
  display: flex;
  height: 30px;
  width: 56px;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.great-location-container{
  height: 58px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

