*{
  padding: 0px;
  margin: 0px;
}

form p{
  color: red;
}

.container{
  box-sizing: border-box;
  border-left: 100px solid rgb(13, 163, 168);
  border-right: 100px solid rgb(13, 163, 168);
  border-top: 50px solid rgb(13, 163, 168);
  border-bottom: 50px solid rgb(13, 163, 168);
  width: 100%;
  display: flex;
}

.image-container{
  width: 582px;
  height: 560px;
  box-sizing: border-box;
  margin: 25px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img{
  height: 560px;
  width: 450px;
  background-size: cover;
}

.signup-container{
  width: 582px;
  height: 550px;
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 100px;
}

.fa-solid{
  font-size: 40px;
  font-weight: bolder;
}

#signup-text{
  margin: 10px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form input{
  height: 25px;
  width: 270px;
  padding: 6px 30px;
  border-radius: 15px;
}

#signup{
  height: 35px;
  width: 150px;
  background-color: rgb(13, 163, 168);
  color: white;
  align-self: center;
  justify-self: center;
  margin-top: 10px;
}