body {
  font-family: Arial, sans-serif;
  padding: 30px;
  
    background: url('dasbord\ background.jpg');
  background-size:cover;
  
}
:root {
  --primary-color: #8a79f0;
  --primary-color-dark: #2e2a40;
  --text-dark: #221e36;
  --text-light: #767268;
  --extra-light: #f1f2ff;
  --white: #ffffff;
  --max-width: 1200px;
}


.booking-container {
  max-width: 500px;
  margin-left: 1000px;
  background:rgb(49, 52, 54);
  background-size: cover;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  border: 1px solid rgb(39, 159, 172);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ddd;
}

label {
  display: block;
  margin: 15px 0 5px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
}

button {
  background-color: #18ab3b;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0eeb45;
}

#confirmation {
  margin-top: 20px;
  padding: 10px;
  background-color: #195fbb;
  border: 1px solid #97b02a;
  border-radius: 5px;
  display: none;
}
 

    /* section second */
    /* .choose__container {
  display: grid;
}

.choose__content {
  padding-block: 2rem 5rem;
  padding-inline: 1rem;
}

.choose__grid {
  margin-top: 3rem;
  display: grid;
  gap: 2rem 1rem;
}

.choose__card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.choose__card span {
  padding: 5px 7px;
  font-size: 1.5rem;
  background-color: var(--extra-light);
  color: var(--primary-color);
  border-radius: 0.5rem;
}

.choose__card h4 {
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.choose__card p {
  font-size: 0.9rem;
  color: var(--text-light);
  line-height: 1.5rem;
} */

