*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.navbar{
  display: flex;
  gap: 50vw;
  padding: 2px 30px;
  background-color: rgb(19, 139, 251);
  color: white;
  font-size: 17px;
  font-style: italic;
  letter-spacing: 2px;
}

a{
  color: white;
  align-self: center;
  text-decoration: none;
}

.left{
  display: flex;
  gap: 35px;
}

.right{
  display: flex;
  gap: 35px;
}

footer{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(57, 116, 132);
  color: white;
  flex-direction: column;
  padding: 0px 330px;
  font-size: 20px;
}

p{
  font-size: 18px;
}

.div{
  min-height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  font-size: 50px;
}

.color-container{
  margin-left: 500px;
  margin-top: 100px;
  height: 200px;
  width: 500px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 40px;
  box-shadow: 3px 3px 5px 5px;

}
